In [1]:
import numpy as np
import pandas as pd

In [2]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [3]:
dates = pd.date_range('20130101', periods = 6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [4]:
df = pd.DataFrame(np.random.rand(6,4), index = dates, columns= list('ABCD'))
df

                   A         B         C         D
2013-01-01  0.769558  0.668210  0.253916  0.731524
2013-01-02  0.479600  0.707926  0.165728  0.430451
2013-01-03  0.978465  0.703513  0.145750  0.884569
2013-01-04  0.523874  0.856185  0.735281  0.966882
2013-01-05  0.028212  0.597897  0.973226  0.241104
2013-01-06  0.523251  0.767829  0.348651  0.754636

In [5]:
df2 = pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20130102'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': np.array([3] * 4, dtype='int32'),
                    'E': pd.Categorical(["test", "train", "test", "train"]),
                    'F': 'foo'})
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [6]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [7]:
df.head()

                   A         B         C         D
2013-01-01  0.769558  0.668210  0.253916  0.731524
2013-01-02  0.479600  0.707926  0.165728  0.430451
2013-01-03  0.978465  0.703513  0.145750  0.884569
2013-01-04  0.523874  0.856185  0.735281  0.966882
2013-01-05  0.028212  0.597897  0.973226  0.241104

In [8]:
df.tail(3)

                   A         B         C         D
2013-01-04  0.523874  0.856185  0.735281  0.966882
2013-01-05  0.028212  0.597897  0.973226  0.241104
2013-01-06  0.523251  0.767829  0.348651  0.754636

In [9]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [10]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [11]:
df.to_numpy()

array([[0.76955809, 0.66821024, 0.25391596, 0.73152357],
       [0.47960001, 0.70792559, 0.16572809, 0.43045073],
       [0.9784646 , 0.70351308, 0.14575039, 0.88456928],
       [0.52387411, 0.85618525, 0.73528071, 0.96688244],
       [0.02821187, 0.59789737, 0.97322618, 0.24110449],
       [0.52325143, 0.76782942, 0.34865089, 0.7546356 ]])

In [12]:
df2.to_numpy()

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [13]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.550493  0.716927  0.437092  0.668194
std    0.319501  0.088075  0.339485  0.278008
min    0.028212  0.597897  0.145750  0.241104
25%    0.490513  0.677036  0.187775  0.505719
50%    0.523563  0.705719  0.301283  0.743080
75%    0.708137  0.752853  0.638623  0.852086
max    0.978465  0.856185  0.973226  0.966882

In [14]:
df

                   A         B         C         D
2013-01-01  0.769558  0.668210  0.253916  0.731524
2013-01-02  0.479600  0.707926  0.165728  0.430451
2013-01-03  0.978465  0.703513  0.145750  0.884569
2013-01-04  0.523874  0.856185  0.735281  0.966882
2013-01-05  0.028212  0.597897  0.973226  0.241104
2013-01-06  0.523251  0.767829  0.348651  0.754636

In [15]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    0.769558    0.479600    0.978465    0.523874    0.028212    0.523251
B    0.668210    0.707926    0.703513    0.856185    0.597897    0.767829
C    0.253916    0.165728    0.145750    0.735281    0.973226    0.348651
D    0.731524    0.430451    0.884569    0.966882    0.241104    0.754636

In [18]:
df.sort_index(axis = 1, ascending= False)

                   D         C         B         A
2013-01-01  0.731524  0.253916  0.668210  0.769558
2013-01-02  0.430451  0.165728  0.707926  0.479600
2013-01-03  0.884569  0.145750  0.703513  0.978465
2013-01-04  0.966882  0.735281  0.856185  0.523874
2013-01-05  0.241104  0.973226  0.597897  0.028212
2013-01-06  0.754636  0.348651  0.767829  0.523251

In [20]:
df.sort_values(by = 'B', ascending=False)

                   A         B         C         D
2013-01-04  0.523874  0.856185  0.735281  0.966882
2013-01-06  0.523251  0.767829  0.348651  0.754636
2013-01-02  0.479600  0.707926  0.165728  0.430451
2013-01-03  0.978465  0.703513  0.145750  0.884569
2013-01-01  0.769558  0.668210  0.253916  0.731524
2013-01-05  0.028212  0.597897  0.973226  0.241104

In [21]:
df['A']

2013-01-01    0.769558
2013-01-02    0.479600
2013-01-03    0.978465
2013-01-04    0.523874
2013-01-05    0.028212
2013-01-06    0.523251
Freq: D, Name: A, dtype: float64

In [22]:
df[0:3]

                   A         B         C         D
2013-01-01  0.769558  0.668210  0.253916  0.731524
2013-01-02  0.479600  0.707926  0.165728  0.430451
2013-01-03  0.978465  0.703513  0.145750  0.884569

In [23]:
df['20130102':'20130104']

                   A         B         C         D
2013-01-02  0.479600  0.707926  0.165728  0.430451
2013-01-03  0.978465  0.703513  0.145750  0.884569
2013-01-04  0.523874  0.856185  0.735281  0.966882

In [27]:
df.loc[dates[0]]

A    0.769558
B    0.668210
C    0.253916
D    0.731524
Name: 2013-01-01 00:00:00, dtype: float64

In [34]:
df.loc[:, ['A','C','B']]

                   A         C         B
2013-01-01  0.769558  0.253916  0.668210
2013-01-02  0.479600  0.165728  0.707926
2013-01-03  0.978465  0.145750  0.703513
2013-01-04  0.523874  0.735281  0.856185
2013-01-05  0.028212  0.973226  0.597897
2013-01-06  0.523251  0.348651  0.767829

In [35]:
df.loc['20130102':'20130104', ['A', 'B']]

                   A         B
2013-01-02  0.479600  0.707926
2013-01-03  0.978465  0.703513
2013-01-04  0.523874  0.856185

In [36]:
df.loc['20130102', ['A', 'B']]

A    0.479600
B    0.707926
Name: 2013-01-02 00:00:00, dtype: float64

In [37]:
df.loc[dates[0], 'A']

0.7695580895815279

In [38]:
df.at[dates[0], 'A']

0.7695580895815279

In [39]:
df.iloc[3]

A    0.523874
B    0.856185
C    0.735281
D    0.966882
Name: 2013-01-04 00:00:00, dtype: float64

In [40]:
df.iloc[3:5, 0:2]

                   A         B
2013-01-04  0.523874  0.856185
2013-01-05  0.028212  0.597897

In [43]:
df.iloc[[1,2,4], [0,2]]

                   A         C
2013-01-02  0.479600  0.165728
2013-01-03  0.978465  0.145750
2013-01-05  0.028212  0.973226

In [45]:
df.iloc[:, 1:3]

                   B         C
2013-01-01  0.668210  0.253916
2013-01-02  0.707926  0.165728
2013-01-03  0.703513  0.145750
2013-01-04  0.856185  0.735281
2013-01-05  0.597897  0.973226
2013-01-06  0.767829  0.348651

In [46]:
df.iloc[1,1]

0.7079255935520158

In [47]:
df.iat[1,1]

0.7079255935520158

In [48]:
df[df['A'] > 0]

                   A         B         C         D
2013-01-01  0.769558  0.668210  0.253916  0.731524
2013-01-02  0.479600  0.707926  0.165728  0.430451
2013-01-03  0.978465  0.703513  0.145750  0.884569
2013-01-04  0.523874  0.856185  0.735281  0.966882
2013-01-05  0.028212  0.597897  0.973226  0.241104
2013-01-06  0.523251  0.767829  0.348651  0.754636

In [50]:
df[df < 0]

             A   B   C   D
2013-01-01 NaN NaN NaN NaN
2013-01-02 NaN NaN NaN NaN
2013-01-03 NaN NaN NaN NaN
2013-01-04 NaN NaN NaN NaN
2013-01-05 NaN NaN NaN NaN
2013-01-06 NaN NaN NaN NaN

In [51]:
df2 = df.copy()
df2['E'] = ['one', 'one', 'two', 'three', 'four', 'three']
df2

                   A         B         C         D      E
2013-01-01  0.769558  0.668210  0.253916  0.731524    one
2013-01-02  0.479600  0.707926  0.165728  0.430451    one
2013-01-03  0.978465  0.703513  0.145750  0.884569    two
2013-01-04  0.523874  0.856185  0.735281  0.966882  three
2013-01-05  0.028212  0.597897  0.973226  0.241104   four
2013-01-06  0.523251  0.767829  0.348651  0.754636  three

In [52]:
df2[df2['E'].isin(['two','four'])]

                   A         B         C         D     E
2013-01-03  0.978465  0.703513  0.145750  0.884569   two
2013-01-05  0.028212  0.597897  0.973226  0.241104  four

In [53]:
s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range('20130102', periods=6))
s1

2013-01-02    1
2013-01-03    2
2013-01-04    3
2013-01-05    4
2013-01-06    5
2013-01-07    6
Freq: D, dtype: int64

In [54]:
df['F'] = s1

In [55]:
df

                   A         B         C         D    F
2013-01-01  0.769558  0.668210  0.253916  0.731524  NaN
2013-01-02  0.479600  0.707926  0.165728  0.430451  1.0
2013-01-03  0.978465  0.703513  0.145750  0.884569  2.0
2013-01-04  0.523874  0.856185  0.735281  0.966882  3.0
2013-01-05  0.028212  0.597897  0.973226  0.241104  4.0
2013-01-06  0.523251  0.767829  0.348651  0.754636  5.0

In [56]:
df.at[dates[0], 'A'] = 0

In [60]:
df

                   A         B         C         D    F
2013-01-01  0.000000  0.000000  0.253916  0.731524  NaN
2013-01-02  0.479600  0.707926  0.165728  0.430451  1.0
2013-01-03  0.978465  0.703513  0.145750  0.884569  2.0
2013-01-04  0.523874  0.856185  0.735281  0.966882  3.0
2013-01-05  0.028212  0.597897  0.973226  0.241104  4.0
2013-01-06  0.523251  0.767829  0.348651  0.754636  5.0

In [58]:
df.iat[0, 1] = 0

In [61]:
df.loc[:, 'D'] = np.array([5] * len(df))

In [62]:
df

                   A         B         C  D    F
2013-01-01  0.000000  0.000000  0.253916  5  NaN
2013-01-02  0.479600  0.707926  0.165728  5  1.0
2013-01-03  0.978465  0.703513  0.145750  5  2.0
2013-01-04  0.523874  0.856185  0.735281  5  3.0
2013-01-05  0.028212  0.597897  0.973226  5  4.0
2013-01-06  0.523251  0.767829  0.348651  5  5.0

In [63]:
df2 = df.copy()

In [64]:
df2

                   A         B         C  D    F
2013-01-01  0.000000  0.000000  0.253916  5  NaN
2013-01-02  0.479600  0.707926  0.165728  5  1.0
2013-01-03  0.978465  0.703513  0.145750  5  2.0
2013-01-04  0.523874  0.856185  0.735281  5  3.0
2013-01-05  0.028212  0.597897  0.973226  5  4.0
2013-01-06  0.523251  0.767829  0.348651  5  5.0

In [65]:
df2[df2 > 0] = -df2

In [66]:
df2

                   A         B         C  D    F
2013-01-01  0.000000  0.000000 -0.253916 -5  NaN
2013-01-02 -0.479600 -0.707926 -0.165728 -5 -1.0
2013-01-03 -0.978465 -0.703513 -0.145750 -5 -2.0
2013-01-04 -0.523874 -0.856185 -0.735281 -5 -3.0
2013-01-05 -0.028212 -0.597897 -0.973226 -5 -4.0
2013-01-06 -0.523251 -0.767829 -0.348651 -5 -5.0