In [1]:
import numpy as np
import pandas as pd

In [2]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [3]:
dates = pd.date_range('20130101', periods = 6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [7]:
df = pd.DataFrame(np.random.rand(6,4), index = dates, columns= list('ABCD'))
df

                   A         B         C         D
2013-01-01  0.509380  0.899524  0.674501  0.482072
2013-01-02  0.594536  0.499864  0.683478  0.353129
2013-01-03  0.975461  0.684233  0.361513  0.727060
2013-01-04  0.916901  0.499737  0.670011  0.126696
2013-01-05  0.531178  0.667173  0.714192  0.095348
2013-01-06  0.973707  0.150253  0.695671  0.536478

In [8]:
df2 = pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20130102'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': np.array([3] * 4, dtype='int32'),
                    'E': pd.Categorical(["test", "train", "test", "train"]),
                    'F': 'foo'})
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [10]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [11]:
df.head()

                   A         B         C         D
2013-01-01  0.509380  0.899524  0.674501  0.482072
2013-01-02  0.594536  0.499864  0.683478  0.353129
2013-01-03  0.975461  0.684233  0.361513  0.727060
2013-01-04  0.916901  0.499737  0.670011  0.126696
2013-01-05  0.531178  0.667173  0.714192  0.095348

In [12]:
df.tail(3)

                   A         B         C         D
2013-01-04  0.916901  0.499737  0.670011  0.126696
2013-01-05  0.531178  0.667173  0.714192  0.095348
2013-01-06  0.973707  0.150253  0.695671  0.536478

In [13]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [14]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [15]:
df.to_numpy()

array([[0.5093801 , 0.8995245 , 0.67450091, 0.48207216],
       [0.59453642, 0.49986437, 0.68347787, 0.35312897],
       [0.97546063, 0.68423278, 0.36151339, 0.72705972],
       [0.91690076, 0.49973737, 0.67001076, 0.12669631],
       [0.53117821, 0.66717305, 0.71419243, 0.0953483 ],
       [0.97370694, 0.15025304, 0.6956712 , 0.53647822]])

In [16]:
df2.to_numpy()

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [17]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.750194  0.566798  0.633228  0.386797
std    0.227457  0.251817  0.134063  0.245352
min    0.509380  0.150253  0.361513  0.095348
25%    0.547018  0.499769  0.671133  0.183304
50%    0.755719  0.583519  0.678989  0.417601
75%    0.959505  0.679968  0.692623  0.522877
max    0.975461  0.899524  0.714192  0.727060

In [ ]:
df.sort_indes